main > section {
  min-height: 100vh;
  padding: 5rem 5vw;
  box-sizing: border-box;
  font-size: 1.5rem;
}
main > section h2 {
  font-size: 2rem;
  color: rgba(0,0,0,.87);
  font-weight: 400;
}
main > section p {
  font-weight: 300;
  line-height: 2.5rem;
}

@media screen and (min-width: 800px) {
  #home {
    padding-top: 5rem;
  }
}

/* #region about */
#home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 7rem;
  /* background-position: right; */
  /* background-size: 60vw; */
  /* background-repeat: no-repeat; */
  /* background-image: url(/img/hero-img.png); */
}
#home picture {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  user-select: none;
}
#home img {
  height: 90vh;
}
#home :is(p, h1) {
  margin: 0;
  font-weight: 400;
  margin-bottom: 1rem;
}
#home p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
}
#home h1 {
  font-size: 3rem;
  color: var(--color-primary);
}
#home :is(button, a) {
  font-size: 1.5rem;
  padding: .5rem 2rem;
  margin-top: 1.5rem;
  margin-right: 1rem;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}
#home button {
  background: var(--color-accent);
  color: var(--color-primary);
  font-family: inherit;
  font-weight: 600;
  border: none;
  border-radius: 0;
  transition: all 120ms ease;
}
#home button:hover {
  background-color: var(--color-primary);
  color: var(--color-light);
}
/* #endregion */

/* #region Contact */
#contact {
  padding: 4rem .5rem;
  background: var(--color-primary);
  color: var(--color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}
#contact :is(h2, p) {
  margin: 0;
}
#contact h2 {
  font-size: 3rem;
  color: var(--color-accent);
  font-weight: 600;
  margin-bottom: 2.5rem;
}
#contact p {
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin-bottom: 2rem;
  font-weight: 300;
}
#contact .cta-button {
  display: block;
  padding: 0 4rem;
  background-color: var(--color-accent);
  font-size: 1.5rem;
  line-height: 3.5rem;
  font-weight: 600;
}
#contact .cta-button:hover {
  background-color: var(--color-primary);
}
#contact .socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  margin-top: 2rem;
}
#contact .socials li:not(:last-child) {
  margin-right: 1rem;
}
/* #endregion */

footer {
  background: var(--color-accent);
  text-align: center;
}
footer p {
  margin: 0;
  line-height: 3.5rem;
  font-weight: 600;
  color: var(--color-primary);
}
