---
layout: layouts/base
---
<main>
  <section id="home">
    <picture>
      <img src="/img/hero-img.png" alt="That's me!">
    </picture>
    <div>
      <p>Hello, my name is</p>
      <h1>Mayur Deshmukh</h1>
      <p>I'm a web developer and artist based in Pune.</p>
      <div>
        <button type="button">resume.</button><a href="#contact">get in touch.</a>
      </div>
    </div>
  </section>

  {% include 'views/about.html' %}

  {% include 'views/projects.html' %}

  {% include 'views/art.html' %}

  {% include 'views/blog.html' %}
</main>
