<nav class="sidenav__container">
  <a id="logo" class="sidenav__logo" href="/">
    <img src="{{ site.logo }}" alt="{{ site.title }}">
  </a>

  <ul class="sidenav__menu">
    <li class="sidenav__menu-item"><a href="#about">about.</a></li>
    <li class="sidenav__menu-item"><a href="#projects">projects.</a></li>
    <li class="sidenav__menu-item"><a href="#art">art.</a></li>
    <li class="sidenav__menu-item"><a href="#blog">blog.</a></li>
    <li class="sidenav__menu-item"><a href="#contact">contact.</a></li>
  </ul>

  <!-- <a id="back-to-top" href="#about">
    <custom-icon name="chevronUpOutline" data-alt="back to top"/>
  </a> -->
</nav>
